---
const base = import.meta.env.BASE_URL;

const {
  title,
  description,
  stack,
  year,
  href,
  status
} = Astro.props;

const url = `${base}${href.replace(/^\//, "")}`;
---

<a href={url} class="project-card">

<div class="year">
{year}
</div>

<h2>
{title}
</h2>

<p class="description">
{description}
</p>

<div class="stack">

{stack.map(item => (

<span>{item}</span>

))}

</div>

<div class="status">

{status}

</div>

</a>
